* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-image: linear-gradient(
    to right,
    #202c38,
    #202a36,
    #303942,
    #202a34,
    #19232c
  );
  /*--color-primary: #191d2b;*/
  --color-secondary: #d23d39;
  --color-hover: #e3c285;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 0.875rem;
  --box-shadow-1: 0 0.1875rem 0.9375rem rgba(0, 0, 0, 0.3);
}
.light-mode {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #f3f3f3,
    #f7f7f7,
    #eeebeb
  );
  /* --color-primary: #f7fbf3; */
  --color-secondary: #106cab;
  --color-hover: #3f68fe;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #f2eaea;
  --color-grey-6: #12181b;
}

/* ----------------BEFORE-BLOGS------------------ */
.top {
  margin: 0 7.5%;
  font-family: Muli, sans-serif;
}
.blog .latest-img {
  width: 100%;
  height: 28rem;
}
.blog .blog-text h3 {
  color: var(--color-grey-1);
}
.blog .blog-text h3:hover {
  color: var(--color-secondary);
}
.top {
  display: flex;
  margin-top: 2rem;
}
.staff-pics {
  background-color: var(--color-grey-5);
  margin-left: 6rem;
  padding-right: 3rem;
  margin-right: 4rem;
  padding-bottom: 2rem;
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}
.heading-staff-pics {
  display: flex;
}
.staff-pics a {
  margin: 1.2rem 0rem 0rem 1rem;
  color: var(--color-grey-1);
  font-size: 1.6rem;
  font-family: Rajdhani, sans-serif, 600;
}
.staff-pics .heading-staff-pics a:hover {
  color: var(--color-secondary);
}

.box {
  margin-top: 1rem;
  margin-left: 2rem;
}
.box p {
  margin-bottom: 0.5rem;
}
.box iframe {
  margin-left: 2%;
}
.staff-pics a {
  text-decoration: none;
  color: var(--color-grey-2);
}
.staff-pics a:hover {
  color: var(--color-white);
}

/* -----------------------BLOG PAGE------------------- */
.main-blog-content {
  display: flex;
  margin-top: 2rem;
}
.blog-pic img {
  display: grid;
  place-items: center;
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
  margin: 1rem 0;
}
.author-container{
  margin: 5rem 4rem 0rem 0;
  /* align-items: center; */
}
.publish-date{
  margin-top: 1rem;
}
.author img {
  padding: 0.5rem;
  border: 4px solid var(--color-secondary);
  border-radius: 0.25rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.social-media-icons{
  color: var(--color-secondary);
}
/* ----------------------RESPONSIVENESS------------------- */
@media screen and (max-width: 768px) {
  .main-blog-content {
    flex-direction: column;
    align-items: center;
  }

  .author-container {
    margin: 2rem 0;
    text-align: center;
  }
  
  .author img {
    margin: 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .blog-pic img {
    height: 10rem;
  }
}






